@import url("normalize.css");

html, body {
    background-color: #202c3d;
}

canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 600px;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}